/* NUR VOREINSTELLUNG FÜR ANFANG ----------------------------------------------------*/
body{
	margin: 0;
	padding: 0;
	font-family: arial;
}

/* NAVBAR + LOGO --------------------------------------------------------------------*/
#headerDiv {
	position: relative;
	border: solid 1px black;
	padding-bottom: 250px;
	background-color: #CABBB7;
	width: 100%;
}

#logoID {
	width: 350px;
	float: right;
	position: absolute;
	margin-right: 10%;
	margin-top: 5%;
	margin-left: 60%;
}

#spanID {
	margin-right: 5%;
}

h2 {
	position: absolute;
	float: left;
	margin-left: 10%;
	margin-top: 8%;
	width: 50%;
}
ul {
	list-style-type: none;
}

li {
	display: inline;
	margin: 1%;
}

#navBar {
	font-size: 2em;
	font-weight: bolder;
	text-align: right;
	padding-right: 7%;
}

#navTag {
	/* border: solid 1px black; */
	background-color: #C65252;
	padding: 1px 1px;
}
a {
	color: white;
	text-decoration: none;
}



/* Main Header h1 ------------------------------------------------------------------ */
h1 {
	font-size: 4em;
	text-align: center;
	margin-bottom: 10%;
}

/* Images, Figures and Figcation ----------------------------------------------------*/
#topImg {
	width: 90%; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
}

#topFigure {
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	font-weight: bold;
}

#bothBottomPics {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.bottomFigure {
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
 	float: left;
 	width: 40%;

}

.bottomImg {
	width: 100%;
}


figcaption {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	font-weight: bold;
}


/* Footer for Logo and Copyright -----------------------------------------------------*/
#logoID2 {
	width: 20%;
}

footer {
	/* border: solid 1px black; */
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;
	bottom: 0%;
	background-color: #CABBB7;
	clear: both;

}
